* {
  box-sizing: border-box;
  font-family: Roboto; /*Cuprum*/
  margin: 0;
  padding: 0;
}

html, body, .root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body, .app {
  background: white;
}

#map-container {
  bottom:0px;
  height: 100%;
  left: 300px;
  position: absolute;
  right: 0px;
}

#pano, #no-image {
  width: 260px;
  height: 250px;
  margin-right: 20px;
}

#pano:hover {
  cursor: pointer;
}

#info-wrap-streetview, #infowrap-no-streetview, #no-image {
  display: flex;
  line-height: 1.5;
  align-items: center;
  justify-content: center;
}

#no-image {
  border: 1px solid lightgray;
  font-size: 19px;
  font-weight: 400;
}

#info-wrap h4 {
  font-size: 18px;
  font-weight: 400;
  color: black;
  text-decoration: underline;
}

#info-wrap p {
  font-size: 15px;
}





