* {
  box-sizing: border-box;
  font-family: Lato; /*Cuprum*/
  margin: 0;
  padding: 0;
}

html, body, .root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body, .app {
  background: white;
}

.nav-logo-ham {
  position: absolute;
  z-index: 100;
  left: 14.6em;
  width: 100%;
  background: #1b465d;
  color: #0891c5;
  padding: 0.7em 1.5em;
  color: #cfedf9;
  font-size: 19px;
}

.search-container {
  position: absolute;
  z-index: 105;
  left: 0;
  right: 0;
  width: 17.4em;
  height: 100vh;
  background: #032c42;
  color: #d9dcde;
  padding: 15px 0;
}

.search-container p {
  text-align: center;
  font-size: 1.6em;
  font-weight: 400;
  margin-bottom: 1em;
}

input[list], input[type=submit] {
  font-size: 16px;
  height: 35px;
  border: 1px solid #040433;
  border-radius: 2px;
}

input[list] {
  width: 80%;
  background-color: #f0f2f5;
  padding: 10px;
}

input[type=submit] {
  width: 20%;
  background-color: #0891c5;
  padding: 7px;
  color: white;
}

input[type=submit]:hover {
  cursor: pointer;
}

#map-container {
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}

#pano, #no-image {
  width: 260px;
  height: 250px;
  margin-right: 20px;
}

#pano:hover {
  cursor: pointer;
}

#info-wrap-streetview, #infowrap-no-streetview, #no-image {
  display: flex;
  line-height: 1.5;
  align-items: center;
  justify-content: center;
}

#no-image {
  border: 1px solid lightgray;
  font-size: 19px;
  font-weight: 400;
}

#info-wrap h4, #rating {
  font-size: 18px;
  font-weight: 400;
  color: black;
  text-decoration: underline;
}

#info-wrap p {
  font-size: 15px;
}

#rating-streetview, #rating-no-streetview {
  font-size: 15px;
  margin-top: 7px;
}

#num-rating {
  margin: 0 10px 0 3px;
  font-size: 15px;
}





