* {
  box-sizing: border-box;
  font-family: Lato; /*Cuprum*/
  margin: 0;
  padding: 0;
}

html, body, .root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body, .app {
  background: white;
}

#nav-ham-wrap {
  position: fixed;
  z-index: 100;
  max-width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  background: #1b465d;
  color: #0891c5;
  color: #cfedf9;
  font-size: 19px;
}

#nav-ham {
  position: absolute;
  left: 16em;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1.8em;
}

.ham {
  font-size: 20px;
}

.ham:hover {
  cursor: pointer;
}

#search-container {
  position: absolute;
  z-index: 105;
  left: 0;
  right: 0;
  width: 19em;
  height: 50px;
  background: #032c42;
  color: #fff;
}

.header {
  font-size: 1.4em;
  font-weight: 400;
  color: #fff;
  text-align: center;
  padding: 7px 0 9px;
}

input[list], input[type=submit] {
  font-size: 16px;
  height: 35px;
  margin-top: 8px;
}

input[list] {
  width: 78%;
  background-color: #fff;
  border: 1px solid #1b465d;
  padding: 10px;
}

input[type=submit] {
  width: 22%;
  background-color: #032c42;
  border: 1px solid#1b465d;
  color: white;
}

input[type=submit]:hover {
  cursor: pointer;
}

#map-container {
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}

#pano,
#no-image {
  width: 260px;
  height: 250px;
  margin-right: 20px;
}

#pano:hover {
  cursor: pointer;
}

.gm-style-iw {
  top: 13px !important;
}

#info-wrap-streetview,
#info-wrap-no-streetview {
  display: flex;
  line-height: 1.5;
  align-items: center;
  justify-content: center;
}

#no-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  font-size: 19px;
  font-weight: 400;
}

#info-wrap h4,
#rating {
  font-size: 18px;
  font-weight: 400;
  color: black;
  text-decoration: underline;
}

#info-wrap p {
  font-size: 15px;
}

#rating-streetview,
#rating-no-streetview {
  font-size: 15px;
  margin: 7px 0 7px;
}

#num-rating {
  margin: 0 10px 0 3px;
  font-size: 15px;
}







